@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;
  
  /* IOCL Design System Colors */
  --primary: #2C3482;
  --primary-hover: #1e245a;
  --secondary: #F37021;
  --secondary-hover: #d96118;
  --tertiary: #007BA7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-ibm-plex);
}

/* Optional Dark Mode Overrides (if required in future) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
